header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // gap: 1rem;
    padding: 1rem;
    background: #ccc;

    .files {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .filesLoader {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.3rem;
            // background-color: red;
        }
    }
    .generalOperations{
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
    }

    .tools{
        display: flex;
        justify-content: flex-end;
        .inputBusqueda {
            background-color: white;
            padding: .5rem 1rem;
            border-radius: 1rem;
            input {
                border: none;
                outline: none;
            }
            i {
                // background-color: red;
                font-size: 1.5rem;
                color: #ccc;
                font-weight: 900;
            }
        }
    }
}