main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphs {
    background-color: #0003;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    // gap: .5rem;
    // max-width: 95%;
    // z-index: -100;

    .bar__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .3rem;
        z-index: -80;
        border-bottom: 1px solid #0002;

        h3 {
            color: #fff;
            text-shadow: 1px 0px 3px #000;
            font-size: 1.3rem;
        }

        .bar {
            /* background-color: blue; */
            z-index: -90;
            position: absolute;
            left: 0;
            height: 100%;
            padding: .5rem .5rem;
        }
    }
}

// Table
table {
    overflow: hidden;
    max-width: 90vw;
    min-width: 50vw;
  }
  
  td, th {
    padding: 10px;
    position: relative;
    outline: 0;
  }
  
  body:not(.nohover) tbody tr:hover {
    background-color: #ffa;
  }
  
  td:hover::after,
  thead th:not(:empty):hover::after,
  td:focus::after,
  thead th:not(:empty):focus::after { 
    content: '';  
    height: 10000px;
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;
  }
  
  td:hover::after,
  th:hover::after {
    background-color: #ffa;
  }
  
  td:focus::after,
  th:focus::after {
    background-color: lightblue;
  }
  
  /* Focus stuff for mobile */
  td:focus::before,
  tbody th:focus::before {
    background-color: lightblue;
    content: '';  
    height: 100%;
    top: 0;
    left: -5000px;
    position: absolute;  
    width: 10000px;
    z-index: -1;
  }
  